body, header, footer, div, span, a {box-sizing: border-box}

html {background-color: maroon}

body {
  width: 100vw; height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: saddlebrown;
  color: navajowhite;
}

a:link, a:visited {color: inherit; text-decoration: none}

header, footer {
  position: fixed;
  bottom: 10px;
  font-family: "Pontano Sans", serif;
  font-size: 1rem;
  text-transform: lowercase;
  color: maroon;
  opacity: 0.6;
}

header {left: 10px}
footer {right: 10px}

div {
  display: flex;
  justify-content: center;
  padding: 0 10vw;
  text-align: center;
}

.quoteBox {
  flex: 1.5 1 40%;
  align-items: flex-end;
  font-family: "Sorts Mill Goudy", serif;
  font-size: 2rem;
}

.authorBox {
  flex: 1 1 8%;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.75rem;
}

.iterateButton {
  flex: 1 1 5%;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1.25rem;
}

.tweetButton {
  flex: 1 1 15%;
  align-items: flex-start;
  font-size: 1rem;
}

#iterateQuote, #tweetQuote {
  cursor: pointer;
  font-family: "Cutive Mono", serif;
  color: sandybrown;
}

#iterateQuote {text-transform: uppercase}
#tweetQuote {text-transform: lowercase}

@media (max-width: 640px), (max-height: 640px) {
  div {padding: 0 5vw}
  header, footer {font-size: 0.8rem}
  .quoteBox {font-size: 1.5rem}
  .authorBox {font-size: 1.25rem}
  .iterateButton {font-size: 1rem}
}

@media (max-width: 480px), (max-height: 480px) {
  div {padding: 0 2vw}
  .quoteBox {font-size: 1.25rem}
  .authorBox {font-size: 1.1rem}
}
