* {box-sizing: border-box}

body {
  padding: 2px;
  background-color: #202020;
  color: gainsboro;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  border: 1px solid gainsboro;
  border-radius: 1rem;
}

header:before {content: "twitchers"}
header {
  padding: 5px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Black Ops One", serif;
  font-size: 2rem;
}

footer:before {content: "page by fentablar"}
footer {
  padding: 5px;
  text-align: center;
  text-transform: lowercase;
  color: #696969;
  font-family: "Black Ops One", serif;
  font-size: 0.8rem;
}

.display {
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#showAll:before {content: "All"}
#showOnline:before {content: "Online"}
#showOffline:before {content: "Offline"}
.dispOpt {
  min-width: 5rem;
  padding: 5px;
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: lowercase;
  font-family: "Gruppo", sans-serif;
}
.dispOpt:hover, .dispActive {
  background-color: gainsboro;
  font-weight: bold;
  color: #202020;
}

#twitchBox {
  margin: 20px 0;
  width: 100%;
}

.twitcher {
  width: 100%;
  height: 65px;
  margin: 2px 0;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Roboto Mono", monospace;
}

.online:hover {background-color: #F0F0F0}
.online {
  background-color: gainsboro;
  color: darkslategray;
}

.offline:hover {background-color: gray}
.offline, .unknown {
  background-color: #606060;
  color: silver;
}

.userLogo, .userName, .streamInfo {
  margin: auto 0;
}

.logoIMG {
  max-width: 50px;
  max-height: 50px;
  border-radius: 0.25rem;
}

.userName {
  padding: 5px;
  font-size: 0.9rem;
  word-break: break-all;
  width: 150px;
}

.streamInfo {
  margin: auto;
  min-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-style: italic;
}

.game, .chanStatus, .userOffline {
  margin: 5px;
}

.chanStatus {
  font-size: 0.9rem;
  white-space: nowrap;
  display: none;
}

.game {font-weight: bold}

@media (min-width: 561px) {
  .chanStatus {
    display: initial;
  }
}
/*
@media (min-width: 561px) {
  main {
    border-radius: 2%;
  }
}

@media (min-width: 641px) {
  main {
    border-radius: 1%;
  }
}
*/
