* {box-sizing: border-box}

body {
  padding: 5vh 5vw;
  background-color: whitesmoke;
  color: darkslategray;
  font-family: sans-serif;
}

main {
  margin: 3vh 3vw;
}

.projList {
  border: 1px solid darkslategray;
  border-radius: 1rem;
  margin: 0.25rem 0.25rem 1rem 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
}

.projItem {
  margin: 0.25rem;
  padding: 0.5rem;;
  border-radius: 0.5rem;
  max-width: 15rem;
  background-color: darkslategray;
  color: whitesmoke;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 2.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .5s ease;
}
a:hover {color: dodgerblue}
a:active {text-transform: uppercase}
