* {box-sizing: border-box}

body {
    padding: 5vh 5vw;
    background-color: whitesmoke;
    color: darkslategray;
    font-family: sans-serif;
}

main {
    margin: 3vh 3vw;
}

.projList {
    border: 1px solid darkslategray;
    border-radius: 2rem;
    margin: 1vh 0 2vh; 
    padding: 2vh 2vw;
    display: flex;
    flex-flow: row wrap;
}

.projItem {
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 1rem;
    max-width: 15rem;
    background-color: darkslategray;
    color: whitesmoke;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    text-indent: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .5s ease;
}
a:hover {color: dodgerblue}
a:active {text-transform: uppercase}